<div class="container">
    <div class="col-sm-12 log-form">
        <div class="login-text">
            <h2 class="page-title" style="text-align:center; padding-top:5px;">Login Here</h2>
        </div>
        <form id="login-form-input">
            <div class="form-group">
                <label for="name">Username:</label>
                <input class="col-sm-12 form-input" type="text" id="username-login-input" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="col-sm-12 form-input" type="password" id="password-login-input" />
            </div>
            <div class="form-group">
                <button class="col-sm-12 btn btn-primary" type="submit">Login</button>
            </div>
            <a class="nav-link text-center" href="/signup">Don't have an account? Sign up here!</a>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>