<div class="container">
    <div class="row">
        <div class="col-sm-12 sign-form">
            <h2 class="page-title">Sign up to discuss tech!</h2>
            <form id="signup-form">
                <div class="form-group">
                    <label for="name">Username (this will be visible to other members, must contain letters!):</label>
                    <input class="col-sm-12 form-input" type="text" id="usernamesignup" />
                </div>
                <div class="form-group">
                    <label for="password-signup">Password (must contain letters!):</label>
                    <input class="col-sm-12 form-input" type="password" id="passwordsignup" />
                </div>
                <div class="form-group">
                    <button class="col-sm-12 btn btn-primary" type="submit">Sign Up</button>
                </div>
                <a class="nav-link text-center" href="/login">Have an account already? Login!</a>
            </form>
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>